<% balance=@contract.amount - @repaymentSum%>

<div id = "contractBalance" data-balance = "<%=balance%>">
  <%=parse_amount(balance)%>
</div>
<div>
  相手: <%=getFriendName %>
</div>
<div>
  期限: <%=getContractDeadline %>
</div>
<div>
  貸方: <%=getContractName %>
</div>
<div>
  メモ: <%=@contract.note %>
</div>
<div>
  状態: <%=getContractStatus %> （<%=@repaymentSum%> ）
</div>
