<% balance=@contract.amount - @repaymentSum%>

<div id = "contractBalance" data-balance = "<%=balance%>">
  <%=parse_amount(balance)%>
</div>
<div>
  相手: <%=@contract.friend_id %>
</div>
<div>
  メモ: <%=@contract.note %>
</div>
<div>
  状態: <%=@contract.status %> （<%=@repaymentSum%> ）
</div>
