<%= form_for Payment.new do |f| %>
<div class="form">
  <%= f.label :amount, "金額" %>
  <%= f.number_field :amount, :required => true %>
</div>
<%= f.hidden_field :contract_id, value: @contract.id , :required => true %>
<div class="form">
  <%= f.submit "部分返済する", data: { disable_with: '処理中' }  %>
</div>
<% end %>

<% @filtered_payments.each do |payment| %>
      <div class="list">
        <div class="main">
          <%=payment.amount %>円 <%=payment.contract_id %>
        </div>
      </div>
<% end %>
