<% if @contract.status_id != get_status_id_by_key("PAID") %>
  <%= form_for Payment.new do |f| %>
  <div class="form">
    <%= f.label :amount, "金額" %>
    <%= f.number_field :amount, :required => true, value: @contract.amount - @repaymentSum %>
  </div>
  <%= f.hidden_field :contract_id, value: @contract.id , :required => true %>


  <div class="form">
    <%= f.submit "返済する", id: "refundButton", data: { disable_with: '処理中' }  %>
  </div>
  <% end %>
  <button onclick="delete_contract(<%=@contract_id %>);">削除</button>
<% end %>

<div>
<div>返済歴</div>
<div class="paybeck-list-area">
  <div class="payback-list">
    <div class="main">
      [貸付] <%=parse_time(@contract.created_at) %>|出 <%=parse_amount(@contract.amount) %>
    </div>
  </div>
<% @filtered_payments.each do |payment| %>
      <div class="payback-list">
        <div class="main">
          [回収] <%=parse_time(payment.created_at) %>|入 <%=parse_amount(payment.amount) %>
        </div>
      </div>
<% end %>
</div>
</div>
