
<% if @contract.status_id != get_status_id_by_key("PAID") %>
  <%= form_for Payment.new, remote: true do |f| %>
    <div class="form">
      <%= f.label :amount, "領収額" %>
      <%= f.number_field :amount, :required => true, pattern: "[0-9]*", value: @contract.amount - @repaymentSum %>
    </div>
    <%= f.hidden_field :contract_id, value: @contract.id , :required => true %>
    <div class="form">
      <%= f.submit "領収する", id: "refundButton", data: { disable_with: '処理中' }  %>
    </div>
  <% end %>
<% end %>
