<div class="scrollable">

  <div class="contract-area status-<%=Status.find(@contract.status_id).key %>">
  <div class="title">請求ノート</div>
  <div class="option">
    <div onclick="option(<%=@contract_id %>);"><%=image_tag('icon_option.png', { :border => '0', :alt => 'オプション'}) %></div>

  </div>
  <%= render partial: "detail" %>
  <%= render partial: "payback" %>
</div>

<% if @filtered_payments.length>0 then %>
  <div class="sub-area">
    <%= render partial: "history" %>
  </div>
<% end %>

</div>
<div class="hidden">
  <div id="option" class="alert-content">
    <%= button_to "友達に共有する", sendAgreement_path(contract_id: @contract.id, passcode: @contract.passcode) %>
    <div onclick="delete_contract(<%=@contract_id %>);" class="button sub">この請求ノートを削除する</div>
  </div>
</div>
