<div class="contract-area status-<%=Status.find(@contract.status_id).key %>">
  <div class="title">契約書</div>
  <%= render partial: "detail" %>
  <div class="form">
    <%= button_to "友人に共有する", sendAgreement_path(contract_id: @contract.id, passcode: @contract.passcode) %>
  </div>
</div>
<div class="sub-area">
  <%= button_to "一覧に戻る", goBackList_path(contract_id: @contract.id, passcode: @contract.passcode), {:class=> "sub"} %>
</div>
<% message= flash[:contract_message] %>
<% if !message.blank? then %>
<%= message.html_safe %>
<% end %>
