<div class="header">
<div>
  <%= select :event, :name , [["すべて", "SUBETE"], ["立て替え", "TATEKAE"], ["飲み会", "NOMIKAI"]], {}, {class: 'filter', onchange: "window.location='filter'"} %>

</div>
<div>
  未回収合計
</div>
</div>
<div class="list-area">
  <% @contracts.each do |contract| %>
        <div class="list" onclick="window.location='contract?contract_id=<%=contract.id%>';">
          <div class="checkbox">
           <%=parse_status(contract.status) %>
          </div>
          <div class="main">
            <div><%=@users.find(contract.friend_id).name%></div>
            <div><%=contract.note %> <%=contract.deadline %></div>
          </div>
          <div class="amount">
            <%=parse_amount(contract.amount) %>
          </div>
        </div>
  <% end %>
</div>
