<div class="header">
  <div class="title-of-total-amount">
      合計金額
  </div>
  <div class="total-amount">
    <%=@sum %>円
  </div>
</div>
<div class="list-area">
  <% @contracts.each do |contract| %>
        <div class="list" onclick="window.location='contract?contract_id=<%=contract.id%>';">
          <div class="checkbox">
           <%=parse_status(contract.status_id) %>
          </div>
          <div class="main">
            <div class="main-content">
              <div><%=@friends.find(contract.friend_id).name%></div>
              <div> 〆<%=contract.deadline.to_s(:ymd) %></div>
            </div>
            <div class="amount">
              <%=parse_amount(contract.amount) %>
            </div>
          </div>
        </div>
  <% end %>
  <div class="dammy-list">
  </div>
</div>

<div class="footer">
  <div class="filter-area">
    <%= select :filter, :friend, options_for_select(@friend_filter ,:selected => @friend_filter_selected),{include_blank: "すべて"}, {class: "filter"} %>
    <%= select :filter, :status, options_for_select(@status_filter, :selected => @status_filter_selected),{include_blank: "すべて"}, {class: "filter"} %>
  </div>
</div>
