<div class="header">
<div>
  <%= select :event, :name , [["すべて", "SUBETE"], ["立て替え", "TATEKAE"], ["飲み会", "NOMIKAI"]], {}, {class: 'filter', onchange: "window.location='filter'"} %>

</div>
<div>
  未回収合計
</div>
</div>
<div class="list-area">
  <% @contracts.each do |contract| %>
        <div class="list" onclick="window.location='contract?contract_id=<%=contract.id%>';">
          <div class="main">
            [済] <%=contract.amount %>円 <%=contract.note %> <%=@users.find(contract.debit).name%> <%=contract.deadline %>
          </div>
        </div>
  <% end %>
</div>
