<div class="header">
  <div class="title-of-total-amount">
      合計残高
  </div>
  <div class="total-amount">
    <%=parse_amount(@sum )%>
  </div>
</div>
<div class="list-area">
  <% @contracts.each do |contract| %>
        <div class="list type-contract" onclick="window.location='contract?contract_id=<%=contract.id%>';">
          <div class="checkbox">
            <div class="status-icon">
              <%=parse_status(contract.status_id) %>
            </div>
          </div>
          <div class="main">
            <div class="main-content">
              <div><%=@friends.find(contract.friend_id).name%></div>
              <div> 〆<%=parse_date(contract.deadline) %></div>
            </div>
            <div class="amount">
              <%=parse_amount(contract.amount) %>
            </div>
            <div class = "after">
              〉
            </div>
          </div>
        </div>
  <% end %>
  <div class="dammy-list">
  </div>
</div>

<div class="footer">
  <div class="filter-area">
    <%= select :filter, :friend, options_for_select(@friend_filter ,:selected => @friend_filter_selected),{include_blank: "すべての取引メイト"}, {class: "filter"} %>
    <%= select :filter, :status, options_for_select(@status_filter, :selected => @status_filter_selected),{include_blank: "すべての状態"}, {class: "filter"} %>
  </div>
</div>
