<div class="scrollable">

  <div class="contract-area status-<%=Status.find(@contract.status_id).key %>">
  <div class="title">請求ノート</div>
  <%= render partial: "detail" %>
  <div class="form">
    <%= button_to "友達に共有する", sendAgreement_path(contract_id: @contract.id, passcode: @contract.passcode) %>
  </div>
</div>
<div class="sub-area">
  <%= button_to "請求ノート一覧へ", goBackList_path(), {:class=> "sub"} %>
</div>
</div>


<% message= flash[:contract_message] %>
<% if !message.blank? then %>
<%= message.html_safe %>
<% end %>
