
<% if user_signed_in? %>
    <div><%=current_user.name %> としてログイン中</div>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "LINEでログイン", user_line_omniauth_authorize_path %>
<% end %>

<hr>
<%= link_to("契約書作成",contract_new_path) %>
<%= link_to("契約書一覧",contract_list_path) %>
<%= link_to("友達一覧",friend_list_path) %>
<hr>
<h2>アカウントレコード</h2>
<% @users.each do |user| %>
<div>
  [<%=user.id %>]<%=user.name %>
</div>
<% end %>
<h2>友達レコード</h2>
<% @friends.each do |friend| %>
<div>
  [<%=friend.id %>]<%=friend.name %>|<%=friend.created_by %>
</div>
<% end %>
<h2>契約書レコード</h2>
<% @contracts.each do |contract| %>
      <div class="list" onclick="window.location='contract?contract_id=<%=contract.id%>';">
        <div class="main">
          [<%=contract.id %>-<%=contract.passcode %>] <%=contract.amount %>円 |状態: <%=contract.status_id %> |種別: <%=contract.note %> |貸方ID: <%=contract.user_id %> |借方: <%=@friends.find(contract.friend_id).name%> |期限: <%=contract.deadline %>|
        </div>
      </div>
<% end %>
<h2>返済レコード</h2>
<% @payments.each do |payment| %>
<div class="list" onclick="window.location='payback_agree?payment_id=<%=payment.id%>';">
  <div class="main">
        [<%=payment.contract_id %>]に対する返済申請 <br>
        <%=payment.amount %>円 | <%=payment.created_at %>
      </div>
      </div>
<% end %>
