<h1>リンク集</h1>
<%= link_to("契約書管理","contract_list") %>
<%= link_to("契約書作成","contract_new") %>
<%= link_to("契約書詳細","contract") %>
<%= link_to("友達管理","friend_list") %>
<%= link_to("友達追加","friend_new") %>
<%= link_to("返済申請","payback_new") %>
<%= link_to("返済申請完了","payback_complete") %>
<hr />
<h1>契約書一覧</h1>
<% @contracts.each do |contract| %>
      <div>
        [<%=contract.id %>] <%=contract.amount %>円 | <%=contract.note %>
      </div>
<% end %>
<hr />
<h1>返済申請一覧</h1>
<% @payments.each do |payment| %>
      <div>
        [<%=payment.id %>] <%=payment.contractId %> | <%=payment.amount %>円 | <%=payment.note %>
      </div>
<% end %>
