<!DOCTYPE html>
<html>
  <head>
    <title>貸し借り</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--- LINEのアイコン--->
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="契約書控え">
    <meta property="og:title" content="契約書控え">
    <meta property="og:description" content="契約書控えです。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://app-kashikari-develop.herokuapp.com/contract_agree">
    <meta property="og:image" content="https://app-kashikari-develop.herokuapp.com/assets/icon_unpaid-874e8727b097ab60ac02a9fa0693d0232fcf8259323968bbc286088efd739bae.png">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
  <div class = "restrict-reverse">
    <%=image_tag('/assets/icon_paid-3ac411dfa518fce3e303a57d905e7bdaf9a334bb3cea9d6551a27e433bb48707.png') %>
  </div>

</html>
