<!DOCTYPE html>
<html>
  <head>
    <title>貸し借り</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--- LINEのアイコン--->
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="契約書控え">
    <meta property="og:title" content="契約書控え">
    <meta property="og:description" content="契約書控えです。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://app-kashikari-develop.herokuapp.com/contract_agree">
    <meta property="og:image" content="https://www-s.mlo.me/upen/vs/2018/201803/20180320/201803200952385397737.jpg">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
