<!DOCTYPE html>
<html>
  <head>
    <title>貸し借り</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta property=”og:title” content=”契約書” />
    <meta property=”og:image” content=”https://app-kashikari-develop.herokuapp.com/app/assets/amages/CIMG1741.JPG“>
    <meta property=”og:description” content=”契約書の控えです。” />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
