<!DOCTYPE html>
<html>
  <head>
    <title>貸し借り</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--- LINEのアイコン--->
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" context="契約書控え">
    <meta property="og:title" context="契約書控え">
    <meta property="og:description" context="契約書控えです。">
    <meta property="og:type" context="website">
    <meta property="og:url" context="https://app-kashikari-develop.herokuapp.com/contract_agree?contract_id=18">
    <meta property="og:image" context="https://app-kashikari-develop.herokuapp.com/app/assets/amages/CIMG1741.JPG">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
